<h1>{{title}}</h1>

<!-- post api -->
<!-- <form #userDataForm="ngForm" (ngSubmit)="getUserData(userDataForm.value)"> 
   <input type="text" placeholder="Enter active case" name="Active Cases_text" ngModel>
   <br><br>
   <input type="text" placeholder="Enter Country_text" name="Country_text" ngModel>
   <br><br>
   <input type="text" placeholder="Enter Last Update" name="Last Update" ngModel>
   <br><br>
   <input type="text" placeholder="Enter New Cases_text" name="New Cases_text" ngModel>
   <br><br>
   <input type="text" placeholder="Enter New Deaths_text" name="New Deaths_text" ngModel>
   <br><br>
   <input type="text" placeholder="Enter Total Cases_text" name="Total Cases_text" ngModel>
   <br><br>
   <input type="text" placeholder="Enter Total Deaths_text" name="Total Deaths_text" ngModel>
   <br><br>
   <input type="text" placeholder="Enter Total Recovered_text" name="Total Recovered_text" ngModel>
   <br><br>
   <button>post data</button>
</form> -->

<!-- get api -->
<!-- <ul *ngFor="let item of userDetail">
    <li>{{item.name}} -- {{item.email}}</li>
</ul>
<ul *ngFor="let user of users" class="app_main">
    <li>
        {{user.Country_text}} --- {{user['Total Deaths_text']}}
    </li>
</ul>

 -->
 <app-footer></app-footer>
