<div style="text-align:center;" class="container LoginPage">
  <h5>{{resultMessage}}</h5>

  <div style="Padding-top:1em;">
    <button style="color:#64b2cd" (click)="signInWithFacebook('Facebook')" class="btn bth-outline-light">
      <img style="vertical-align:-2px;" width="20" height="20" src="../../assets/facebook.svg" />
      Start with Facebook
    </button>

  </div>

  <div style="padding-top:1em;">
    <button (click)="signOut()" class="btn btn-success Facebook">Sign Out</button>
  </div>
</div>