* {
    background-color: black;
}
.title {
    color: yellow !important;
    font-family: jedi-outline;
    font-size: 4em;
}

.subtitle {
    font-family: jedi-subtitle;
    font-size: .75em;
    margin-top: -1em;
    margin-bottom: -2em;
    color: #FFF;
    letter-spacing: .75em;
}
