<div class="deepdetail">
    <div class="char-image">
        <img src="https://starwars-visualguide.com/assets/img/characters/{{id}}.jpg" alt="No image found">
    </div>
    <div class="desc">
        <ul>
            <li style="font-size: 34px;font-weight: bold;">{{dataArr.name}}</li>
            <li>Birth Year: {{dataArr['birth_year']}}</li>
            <li>Gender: {{dataArr['gender']}}</li>
            <li>Species: {{species}}</li>
            <li>Homeworld: {{homoworld}}</li>
            <li>Films: {{'himanshu'}}</li>
        </ul>
    </div>
</div>
<!-- <ul>
    <li>
        <img src="https://starwars-visualguide.com/assets/img/characters/{{id}}.jpg" alt="No image found">
    </li>
    <li>{{dataArr['name']}}</li>
</ul>    -->