<div class="container">
        <div class="row first">
            <div class="col mx-1">
                <div>
                    <p>UF INFO</p>
                    <p>About universal food</p>
                    <p>Fresh taste</p>
                    <p>Investor relation</p>
                </div>
            </div>
            <div class="col mx-1">
                <div>
                    <p>Contact</p>
                    <p>Help & Support</p>
                    <p>Careers</p>
                    <p>Customer Care</p>
                    <p>Supply Chain Queries</p>
                    <p>Investor Relations</p>
                    <p>Corporate Communications</p>
                    <p>Franchising</p>
                </div>
            </div>
            <div class="col mx-1">
                <div>
                    <p>LEGAL</p>
                    <p>Terms & Conditions</p>
                    <p>Privacy Policy</p>
                </div>
            </div>
            <div class="col mx-1">
                <div>
                    <p>DOWNLOAD OUR APP</p>
                    <p><img src="assets/photos/play.png" alt="Not found"></p>
                    <p><img src="assets/photos/app-play.png" alt="Not found"></p>
                </div>
            </div>
        </div>
        <div class="row second">
            <div class="col mx-1">
                <p class="logo">UNIVERSAL FOOD</p>
            </div>
            <div class="col mx-1">
                <p>TM & © 2022 UNIVERSAL FOOD CORPORATION . All Rights Reserved.</p>
            </div>
            <div class="col mx-1">
                <span><i class="fa-brands fa-facebook"></i></span>
                <span><i class="fa-brands fa-instagram"></i></span>
                <span><i class="fa-brands fa-twitter"></i></span>
                <span><i class="fa-brands fa-youtube"></i></span>
            </div>
        </div>
    </div>

