<div class="d-flex flex-column mt-5">
    <div class="d-flex flex-row justify-content-sm-evenly flex-wrap">
        <div class="image">
            <div>
                <a routerLink="listof/people"><img src="https://starwars-visualguide.com/assets/img/categories/character.jpg" alt=""></a>
            </div>
            <div class="img-title">
                Cherecters
            </div>
        </div>
        <div class="image">
            <div>
                <a routerLink="listof/films"><img src="https://starwars-visualguide.com/assets/img/categories/films.jpg" alt=""></a>
            </div>
            <div class="img-title">
                Films
            </div>
        </div>
        <div class="image">
            <div>
                <a routerLink="listof/species"><img src="https://starwars-visualguide.com/assets/img/categories/species.jpg" alt=""></a>
            </div>
            <div class="img-title">
                Species
            </div>
        </div>
        <div class="image mt-4">
            <div>
                <a routerLink="listof/starships"><img src="https://starwars-visualguide.com/assets/img/categories/starships.jpg" alt=""></a>
            </div>
            <div class="img-title">
                Starships
            </div>
        </div>
        <div class="image mt-4">
            <div>
                <a routerLink="listof/vehicles"><img src="https://starwars-visualguide.com/assets/img/categories/vehicles.jpg" alt=""></a>
            </div>
            <div class="img-title">
                Vehicles
            </div>
        </div>
        <div class="image mt-4">
            <div>
                <a routerLink="listof/planets"><img src="https://starwars-visualguide.com/assets/img/categories/planets.jpg" alt=""></a>
            </div>
            <div class="img-title">
                Planets
            </div>
        </div>
    </div>
    <!-- <div class="d-flex flex-row justify-content-sm-evenly mt-5"> 
    </div> -->
</div>