nav {
    background-color: #3d3d64;
    padding: 10px;
}
nav img {
    width: 80px;
}

nav ul {
   float: right;
   list-style-type: none; 
}

nav ul > li {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}