<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 fotter-item me-lg-5">
                <div class="logo">
                    <a class="navbar-brand" href="index.html">
                        <h4><img src="{{FooterLogo}}" style="width:30px;height:30px;border-radius:10px" alt="Logo home"></h4>
                    </a>
                    <span class="dg-border"></span>
                </div>
                <p>{{FooterDes1}}</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 fotter-item">
                <div class="title">
                    <h5>Quick links</h5>
                    <span class="dg-border"></span>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="products.html">Products / Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 fotter-item ft-social_media">
                <div class="title">
                    <h5>Follow Us</h5>
                    <span class="dg-border"></span>
                </div>
                <ul>
                    <li><a href="{{FooterFacebookLink}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="{{FooterInstagramLink}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="{{FooterWhatsappLink}}" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="{{FooterLinkedinLink}}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="{{FooterTwitterLink}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--footer-->